@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* paleta de colores:
#fdc43f
#b29168
#ffffff
#d8d9de
#060608
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
header {
  width: 100vw !important;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff15b;
}
nav ul {
  list-style: none;
}
nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
}
section {
  max-width: 1200px;
}
.container__header {
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5%;
}

/* inicio Mobile */
@media (max-width: 576px) {
  .subt__Section {
    margin-top: 2%;
    font-size: 30% !important;

    border-bottom: 1px solid gray;
    justify-items: center;
  }
  .cont_menu1 {
    width: 100%;
  }
  .menu1__Option {
    display: none !important;
  }
  .container__header {
    color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5%;
  }
  .cont_header_down {
    display: none !important;
  }
  .cont_header_up {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .cont_header_up ul {
    align-items: flex-start !important;
  }
  .cont_header_up ul li {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .header__menu_hamburg {
    width: 20% !important;
    background-color: #fff15b !important;
  }

  .cont_titl_log {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: -2px -2px 3px black;
  }
  .cont_title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  .logo_cont {
    height: 100%;
    width: 3rem;
  }
  .cont_form_buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .cont_icon_buscar {
    width: 2.1rem !important;
    padding: 0px !important;
  }
  .cont_input_buscar {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-radius: 0rem 2rem 2rem 0rem;
    z-index: 80;
    padding: 4px;
    background-color: white;
  }
  .input_buscar {
    font-size: 1rem !important;
  }
  .icon_Buscar {
    width: 98% !important;
  }
  .cont_rsocial {
    display: none !important;
  }
  .cont_menu1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cont_menu2 {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex-direction: column;
  }
  /* tarejtas articulos destacados */

  .tarjetas__Cont {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .tarjetaArt__cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 1%;
    overflow: hidden;
    width: 100% !important;
    box-shadow: 3px 4px 11px 0px black;
  }

  .tarjetaArt__cont:focus {
    background: #00000069;
    opacity: 1;
    transition: all 1s;
  }

  .artTitle__cont {
    justify-content: center !important;
  }
  .categ__subTitle {
    text-align: center;
  }
  /* ART MAS VENDIDOS */

  .artmasVend__ContCard {
    flex-direction: column;
  }
  /* Footer mobile */
  .footer__cont_up {
    flex-direction: column;
  }
  .footer_ContLogo {
    width: 100% !important;
  }
  .footer__ContMenu {
    width: 100% !important;
  }
  .icono_Rsocial {
    width: 2rem !important;
  }

  .categ__link {
    font-size: 1rem !important;
  }
  .circulo__none {
    display: none !important;
  }
  .categ__contImg {
    width: 18% !important;
  }
} /* FIn Mobile */

/* INDEX */
.artmasVend__ContCard {
  border: 0px !important;
  flex-direction: row;
  justify-content: center;
}
.artmasVend__Card {
  border: 1px solid gray;
  box-shadow: inset -1px -1px 2px 0px grey;
  border-radius: 0.5rem;
  max-width: 35rem;
  justify-self: center;
  align-items: center;
  padding: 0.3%;
  margin: 0.1% !important;
}

.cont_menu1 ul {
  display: inline-block;
}

.cont_menu1 ul li {
  display: inline;
  padding: 0.2rem;
  font-size: 1.2rem;
}

.cont_menu1 ul li a {
  color: black;
}

.cont_menu1 ul li :hover {
  transition: all 1s;
  border-radius: 5%;
  text-shadow: -1px 0px 2px black;
}

.cont_menu2 ul {
  display: inline-block;
}

.cont_menu2 ul li {
  align-content: center;
  display: inline;
  padding: 0.2rem;
  font-size: 1.2rem;
}

.cont_menu2 ul li a {
  color: black;
}

.cont_menu2 ul li:hover {
  transition: all 1s;
  border-radius: 5%;
  text-shadow: -1px 0px 2px black;
}

.cont_menu2 {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.cont_IconoCarr {
  width: 2rem;
  padding-top: 0.1rem;
}
.img_Carr {
  width: 100%;
  height: 100%;
}
.cont_IconoCarr a {
  padding: 0px;
}

.logo_cont {
  height: 100%;
  width: 4rem;
}
.logo_img {
  width: 100%;
}

.cont_titl_log {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: -2px -2px 3px black;
}

.cont_form_buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.cont_input_buscar {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-radius: 0rem 2rem 2rem 0rem;
  z-index: 80;
  padding: 4px;
  background-color: white;
}
.cont_icon_buscar {
  height: 100%;
  width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 1px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.icon_Buscar {
  width: 100%;
}

.input_buscar {
  font-size: 1.5rem;
  border: transparent;
  outline: none;
  z-index: 2;
  background: none;
}
.buton_buscar {
  width: 4rem;
  padding: 0.5rem;
  font-size: 14px;
  /* text-align: center; */
  margin-left: 0.2rem;
  font-weight: bold;
}
.cont_title {
  font-size: 2rem;
  display: flex;
  align-self: end;
}

.cont_header_down,
.cont_header_up {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.cont_header_up ul {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
}

.cont_rsocial {
  display: flex;
}
.icono_Rsocial {
  width: 2.5rem;
}

/* Foooter */

footer {
  width: 100vw;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #9d9d9d;
  margin: auto;
}

.footer__ContRsocial ul li {
  list-style: none;
}
.footer__ContRsocial ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__ContRsocial {
  display: flex;
  width: 15%;
  justify-content: center;
}

.footer__menu ul {
  display: flex;
}

.footer__menu ul li a {
  padding: 5px;
  color: black;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__menu ul li:hover {
  transition: all 1s;
  border-radius: 5%;
  text-shadow: -1px 0px 2px black;
}

.footer__DatosCantacto ul {
  display: flex;
  flex-direction: column;
}
.footer__DatosCantacto h4 {
  text-align: center;
}
.footer__DatosCantacto {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-top: 1px solid black;
}

.footer__cont_down {
  display: flex;
  justify-content: start;
  align-content: flex-start;
  border-top: 1px solid black;
  padding-top: 2px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.footer__ContMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
}
.footer_ContLogo {
  display: flex;
  height: 100%;
  width: 20%;
  justify-content: center;
}
.footer_ContLogo a {
  align-content: center;
}

.footer__cont_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

/* Contenido archivo index.html */
main {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Categoria destacadas en circulos */
.section__categ {
  display: flex;
  margin: 1%;
  flex-direction: column;
  max-width: 1200px;
}

.categ__h2 {
  text-align: center;
  color: #ffc107;
  text-shadow: 3px 0px 7px black;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #fff15b;
}

.categ__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
}

.categ__contImg {
  width: 15%;
  border-radius: 100%;
  overflow: hidden;
  margin: 0.25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: -5px 3px 11px 0px black;
}

.categ__img {
  width: 100%;
  display: flex;
  animation-name: movimientoImgCateg;
  animation-duration: 3s;
}

@keyframes movimientoImgCateg {
  0% {
    transform: rotate(360deg);
  }
}

.categ__link {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffc107 !important;
  text-shadow: 3px 0px 7px black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.categ__link:hover {
  opacity: 1;
  background: #80808040;
}

.categ__subTitle {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #9d9d9d;
  margin-bottom: 2%;
}

.categ__textCateg {
  z-index: 11;
  position: absolute;
  font-size: 29px;
  background: #8080805d;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* Section Articulos Destacados */

.artDestacados__cont {
  display: flex;
  margin: 1%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.subt__Section {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #9d9d9d;
  /* text-align: start; */
  display: flex;
  justify-content: start;
  align-items: self-end;
  width: 100%;
}
.tarjetas__Cont {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
}
.tarjetaArt__Img {
  width: 100%;
}
.tarjetaArt__contImg {
  padding: 2% 0%;

  display: flex;
  margin: auto;

  align-content: center;
  justify-content: center;
}
.tarjetaArt__cont {
  margin: 10% 0% 0% 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.3%;
  width: 100%;
  overflow: hidden;
  box-shadow: 3px 4px 11px 0px black;
}
.tarjetaArt__descrip {
  display: flex;
  font-size: 20px;
  padding: 3%;
  width: 100%;
  margin: auto;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.tarjetaArt__descrip small {
  color: #0caa58;
}
.tarjetaArt__link {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffc107 !important;
  text-shadow: 3px 0px 7px black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1%;
}

.tarjetaArt__cont :hover {
  background: #00000069;
  opacity: 1;
  transition: all 1s;
}

/* CARRITO */

table {
  margin: 5%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

table th {
  text-align: center;
}
table td {
  text-align: center;
}

button {
  width: 100%;
}

/* QUIENES SOMOS */
.quienesSomos__Text {
  text-align: justify;
}
.quienesSomos__Title {
  text-align: center;
}
.quinesSomos__SubtitlePresent {
  text-align: center;
  text-shadow: -1px 0px 2px #6c6c6e;
}
.quienesSomos__Present_Cont {
  margin-bottom: 1%;
}

/* Form Contacto */

.main__formContacto_cont section {
  display: flex;
  flex-direction: column;
}
.main__formContacto_cont {
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 80%;
}
.formContacto__cont {
  background: rgba(178, 145, 104, 0.44);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
  width: 40%;
  max-height: 315px;
}
.formContacto__cont label {
  margin: 1%;
}
.formContacto__cont h3 {
  text-align: center;
}
.formContacto__buttonEnviar {
  background: #000;
  color: white;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 40%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  margin: 3% 0% auto;
  border-radius: 2rem;
  font-size: 1rem;
  opacity: 100%;
  transition: all 1s;
}
.formContacto__buttonEnviar:hover {
  background: #fdc43f;
  color: #000;
  transition: all 1s;
  opacity: 80%;
}

/* Publicidad - agrgamos Animacion */
.publicidad__img {
  width: 100%;
  animation: publicidad 5s alternate-reverse infinite;
}

.publicidad__cont {
  width: 15%;
  display: flex;
  align-self: center;
}

@keyframes publicidad {
  0% {
    opacity: 0%;
    width: 10%;
    border-radius: 100%;
  }
  50% {
    border-radius: 80%;
  }
  100% {
    margin-top: 1%;
    border-radius: 10%;
    margin-bottom: 0%;
  }
}

/* Formulario Registro */

.main__formRegist_cont section {
  display: flex;
  flex-direction: column;
}
.main__formRegist_cont {
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.formRegist__cont {
  background: rgba(178, 145, 104, 0.44);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
  width: 40%;
  max-height: 500px;
  text-align: center;
  border-radius: 2rem;
  box-shadow: -2px 2px 10px 2px black;
}
.formRegist__cont input {
  width: 60%;
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 2rem;
  padding: 1%;
}
.formRegist__cont label {
  margin: 1%;
}
.formRegist__cont h3 {
  text-align: center;
}
.formRegist__buttonEnviar {
  background: #000;
  color: white;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 40%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  margin: 3% 0% auto;
  border-radius: 2rem;
  font-size: 1rem;
  opacity: 100%;
  transition: all 1s;
}
.formRegist__buttonEnviar:hover {
  background: #fdc43f;
  color: #000;
  transition: all 1s;
  opacity: 80%;
}

.formRegistpublicidad__img {
  width: 100%;
  opacity: 90%;
}
.formRegistpublicidad__cont {
  width: 28%;
  display: flex;
  align-self: center;
}
.formRegist__condiciones {
  margin: 2% 30% 2% 30%;
  text-align: center;
  display: flex;
}

/* formVender */

.main__formVender_cont section {
  display: flex;
  flex-direction: column;
}
.main__formVender_cont {
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.formVender__cont {
  background: rgba(178, 145, 104, 0.44);
  display: flex;
  flex-direction: column;
  border: 1px px solid black;
  padding: 1%;
  margin: 1%;
  width: 40%;
  max-height: 1090px;
  text-align: center;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 10px 2px black;
}
.formVender__cont input {
  width: 60%;
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: 2rem;
  padding: 1%;
}
.formVender__cont label {
  margin: 1%;
}
.formVender__cont h3 {
  text-align: center;
}
.formVender__cont select {
  width: 28%;
  text-align: center;
  padding: 1%;
}
.formVender__buttonEnviar {
  background: #000;
  color: white;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 40%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
  margin: 3% 0% auto;
  border-radius: 2rem;
  font-size: 1rem;
  opacity: 100%;
  transition: all 1s;
}
.formVender__buttonEnviar:hover {
  background: #fdc43f;
  color: #000;
  transition: all 1s;
  opacity: 80%;
}

.formVenderpublicidad__img {
  width: 100%;
  opacity: 90%;
}
.formVenderpublicidad__cont {
  width: 28%;
  display: flex;
  align-self: center;
}
.formVender__condiciones {
  margin: 2% 30% 2% 30%;
  text-align: center;
  display: flex;
}
.formVender__Check {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 1.1%;
}
.formVender__check_cont {
  width: 40%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid beige;
}
